<app-title title="Control flow" withShadow></app-title>
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h1>
    <button
      class="text-white rounded bg-blue-500 p-2"
      (click)="toggleContent()"
    >
      Click here
    </button>
    @if (showContent()) {
    <p class="mt-5">Content is visible</p>
    }@else {
    <p class="mt-5">Content is hidden</p>
    }
  </div>

  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold mb-1">Switch</h1>
    <h2 class="text-2xl font-bold mb-5">Grade: {{ grade() }}</h2>
    @switch (grade()) { @case('A'){
    <p class="mt-5">Excellent</p>
    } @case('B'){
    <p class="mt-5">Good</p>
    } @case('F'){
    <p class="mt-5">Fair</p>
    } }
    <select
      name="grade"
      id="grade"
      (change)="setGrade($event)"
      class="mt-3 text-xl font-bold"
    >
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="F">F</option>
    </select>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold mb-1">For</h1>
    <ul>
      @for (framework of frameworks(); track $index; let i = $index, first =
      $first, last = $last, even = $even, odd = $odd, count = $count) {
      <li
        class="mt-1"
        [class]="{
        'bg-red-200': even && !last && !first,
        'bg-blue-200': odd && !last && !first,
        'bg-yellow-200': first || last,
      }"
      >
        {{ i + 1 }}. {{ framework }}
      </li>
      }
    </ul>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold mb-1">For empty</h1>
    <ul>
      @for (framework of frameworksEmpty(); track $index) {
      <li class="mt-5">{{ $index + 1 }}. {{ framework }}</li>
      }@empty {
      <li class="mt-5">No frameworks found</li>
      }
    </ul>
  </div>
</section>
